button {
    background-color: white;
    border: 1px solid #4CAF50;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid green;
    letter-spacing: 1px;
    margin-right: 10px;
    margin-top: 5px;
}